*

!.gitignore
!README.md
!setup.py
!pyproject.toml
!setup.cfg
!cleanup.sh
!build_install.sh
!build_install.bat

!docs/
!docs/*
!docs/api/
!docs/api/*

!mkdocs.yml

!testing/
!testing/*.py

!src/
!src/**/*
src/**.egg-info
