site_name: GSaPDef

theme:
  name: material
  features:
    - content.code.annotate
    - navigation.sections
  palette:
      - scheme: default
        toggle:
          icon: material/weather-sunny
          name: Switch to dark mode

      - scheme: slate
        toggle:
          icon: material/weather-night
          name: Switch to light mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            #https://mkdocstrings.github.io/python/usage/configuration/docstrings/?h=options#show_docstring_examples
            docstring_style: numpy
            docstring_section_style: list

            show_root_heading: true
            show_root_full_path: false

            show_signature: true
            separate_signature: true

            show_docstring_attributes: true
            show_docstring_functions: true
            show_docstring_examples: true
                       
            members_order: source
            show_if_no_docstring: false
            filters:
              - "!^_"

nav:
  - Home: index.md
  - API:
    - Chem: api/chem.md
    - Layers: api/layer.md
    - Material:  api/material.md
    - Profile:  api/profile.md
